PORT=3001
DB_HOST=127.0.0.1
DB_USER=ticket_user
DB_PASSWORD=cambia_esta_clave
DB_NAME=ticket_system
DB_CONNECTION_LIMIT=10
DB_QUEUE_LIMIT=0
JWT_SECRET=cambia_esta_clave_super_secreta
CLIENT_URLS=http://localhost:3000,https://tu-dominio.com
APP_BASE_URL=https://tu-dominio.com
NEW_ADMIN_PASSWORD=admin123
